%add{//新增todo
    width: 445px;
    height: 56px;
    position: relative;
    >input{
        width: 100%;
        height: 100%;
        padding: 0 0 0 17px;
        border: 0;
        outline: none;

        text-transform: uppercase;

        font-size: 16px;
        line-height: 19px;
        color: $secondary-2;
        font-weight: bold;

        &::placeholder{
            color: $secondary-2;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    }
    >a{
        position: absolute;
        right: 16px;
        top:16px;
        span{
            font-style: 24px;
            color: $secondary-2;
        }
    }
}
%list{//從ul開始
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 0;
    >li{
        width: 445px;
        height: 32px;
        display: flex;
        border-bottom: 1px solid rgb(212, 212, 212);
        >.round{
            width: 24px;
            height: 24px;
            border: 1px solid $primary;
            display: block;
            border-radius: 50%;
        }
        >p{
            line-height: 24px;
            margin-left: 4px;
        }
        >.play{
            margin-left: auto;
            color: $primary;
        }
    }
}