.index{
    width: 1280px;
    height: 800px;

    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 48px 85px;
    position: relative;
    background-image: linear-gradient(to right, $primary-2 65%,$primary 35%);

    color: $primary;
    
    >main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        >.add{
            @extend %add;
        }
        >.nowTodo{
            display: flex;
            flex-direction: column;
            margin-top: 145px;
            >.todo{
                display: flex;
                >a{
                    display: block;

                    width: 48px;
                    height: 48px;
                    border: 1px solid $primary;
                    border-radius: 50%;
                    background-color: $primary-2;
                }
                p{
                    font-size: $font-s;
                    line-height: 28px;
                    padding-left: 16px;
                }
            }
            >.time{
                font-size: 176px;
                width: 454px;
                height: 206px;
                text-align: center;
                color: $secondary-2;
                line-height: 206px;
            }
        }
        >.list{
            display: flex;
            flex-direction: column;
            margin-top: auto;
            >ul{
                @extend %list;
        }
            >.more{
                line-height: 19px;
                display: inline-block;
                margin-top: 9px;
                margin-right: 10px;
                text-align: end;
                &:visited{
                    color: $secondary-2;
                }
            }

        }
    }
    >nav{
        >ul{
            display: flex;
            flex-direction: column;
            li{
                >a{
                    color: $light;
                    >span{
                        font-size: $font-m;
                        }
                }
                margin-bottom: 48px;
            }
        } 
    }
    >.playButton{
        position: absolute;
        width: 510px;
        height: 510px;
        right: 450px;
        top: 50%;
        transform: translate(50%,-50%);
        background-color: #FF4384;
        border-radius: 50%;
        outline: 5px solid #FF4384;
        outline-offset:15px;
        >a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 108px;
            &:visited{
                color: $light;
            }
        }
        >span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(170%,100%);
            font-size: $font-s;
            color: $light;
        }
    }

}
