@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
